---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="Welcome to Astro.">
	<main class="px-12">
		<div class="pt-12 pb-12">
			<h1 class="text-white text-6xl">Det vil sige, med <span class="text-gradient">DV</span></h1>
		</div>
	</main>
</Layout>
<style>
</style>
